<div class="container">
  <div class="logo">
    <img src="path_to_your_image.jpg" alt="Astrocards Logo">
  </div>
  <div class="form-wrapper">
    <div class="form-container">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :nickname,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "nickname" } %>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <div class="form-group">
            <%# <%= f.label :birthdate, "Birthday" %>
            <%= f.input :birthdate, as: :string, input_html: { class: 'flatpickr', data: { enableTime: false } } %>
          </div>

        </div>
        <!-- Checkbox for privacy agreement -->
        <div class="form-group">
          <%= f.input :privacy_statement, class: "form-check-input" %>
        </div>

        <!-- Link to privacy statement -->
        <div class="form-group">
          <%= link_to "Privacy Statement", privacy_statement_path, target: "_blank" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    flatpickr('.flatpickr', {
      dateFormat: 'Y-m-d',
      maxDate: new Date().toISOString().split("T")[0],
      defaultDate: new Date().toISOString().split("T")[0]
    });
  });
</script>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    const signUpForm = document.querySelector('#new_user');

    signUpForm.addEventListener('submit', function(event) {
      const privacyCheckbox = document.querySelector('#user_privacy_statement');

      if (!privacyCheckbox.checked) {
        event.preventDefault(); // Prevent form submission
        alert("Please agree to the privacy statement.");
      }
    });
  });
</script> %>
