<div class="body-signup">
  <div class="container-signup">
    <div class="form-wrapper">
      <div class="form-container">
        <h2>Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

<div class="avatar-container">
  <div class="avatar-preview" id="avatar-preview">Avatar</div>
  <input type="file" id="avatar" name="user[avatar]" class="avatar-input" accept="image/*" >
</div>


            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :nickname,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "nickname" } %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <div class="form-group">
              <%# <%= f.label :birthdate, "Birthday" %>
              <%= f.input :birthdate, as: :string, input_html: { class: 'flatpickr', data: { enableTime: false } } %>
            </div>

          </div>
          <!-- Checkbox for privacy agreement -->
          <div class="form-group">
            <%= f.input :privacy_statement, class: "form-check-input" %>
          </div>

          <!-- Link to privacy statement -->
          <div class="form-group">
            <%= link_to "Privacy Statement", privacy_statement_path, target: "_blank" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    flatpickr('.flatpickr', {
      dateFormat: 'Y-m-d',
      maxDate: new Date().toISOString().split("T")[0],
      defaultDate: new Date().toISOString().split("T")[0]
    });
  });
  //--------------------- avatar --------
  document.addEventListener('DOMContentLoaded', function() {
  const avatarInput = document.getElementById('avatar');
  const avatarPreview = document.getElementById('avatar-preview');

  avatarInput.addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function(event) {
      const imageUrl = event.target.result;
      avatarPreview.style.backgroundImage = `url('${imageUrl}')`;
      avatarPreview.textContent = ''; // Clear the text
    }

    reader.readAsDataURL(file);
  });
});
</script>
