<div class="container">
  <div class="logo">
    <img src="path_to_your_image.jpg" alt="Astrocards Logo">
  </div>
  <div class="form-wrapper">
    <div class="form-container">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: true,
                      pattern: "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[!@#\$%\^&\*])(?=.{8,})",
                      title: "Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (!@#$%^&*)",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :birthdate,
            as: :date,
            required: true,
            start_year: Date.today.year - 100,
            end_year: Date.today.year - 18,
            order: [:month, :day, :year],
            prompt: { day: 'Select day', month: 'Select month', year: 'Select year' } %>
        </div>
        <!-- Checkbox for privacy agreement -->
          <div class="form-group">
            <%= f.check_box :privacy_statement, class: "form-check-input" %>
            <%= f.label :privacy_statement, "I agree to the privacy statement", class: "form-check-label" %>
          </div>

          <!-- Link to privacy statement -->
          <div class="form-group">
            <%= link_to "Privacy Statement", privacy_statement_path, target: "_blank" %>
          </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
