<div class="body-login">
  <div class="container-login">
    <div class="form-wrapper">
      <div class="form-container">
        <h2>Sign Up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

            <%# <div class="avatar-container">
              <div class="avatar-preview" id="avatar-preview">Upload Your Avatar</div>
              <input type="file" id="avatar" name="user[avatar]" class="avatar-input" accept="image/*" >
            </div> %>

              <div class="avatar-container">
                <div class="avatar-preview" id="avatar-preview">Upload Your Avatar</div>
                <%= f.file_field :avatar, class: "avatar-input", accept: "image/*",  id: 'avatar' %>
              </div>


          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :nickname,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "nickname" } %>
            <%= f.input :password,
                        required: true,
                        hint: ("* Password must be more than #{@minimum_password_length} length and at least includes 1 lowercase letter, 1 uppercase letter, 1 digit, and 1 special character." if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <div class="form-birthday">
              <%# <label class="control-label" style="display:none;">Birthday</label> %>
              <%= f.input :birthdate, as: :string, label:"Birthday", class: "form-control", input_html: { data: { controller: "datepicker", datepicker_frompage_value: '01-01-2017' } } %>


            </div>
          </div>
      </div>
    </div>

      <!-- Checkbox for privacy agreement -->
      <div class="form-privacystatement">
        <div class="form-check">
          <%= f.check_box :privacy_statement, class: "form-check-input" %>
          <label class="form-check-label">I agree to the "<%= link_to "Privacy Statement", privacy_statement_path, target: "_blank" %>"</label>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign Up" %>
        <% end %>
      </div>

      <div class="additional-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


<script>
  // document.addEventListener('DOMContentLoaded', function() {
  //   flatpickr('.flatpickr', {
  //     dateFormat: 'Y-m-d',
  //     maxDate: new Date().toISOString().split("T")[0],
  //     defaultDate: new Date().toISOString().split("T")[0]
  //   });
  // });

  //--------------------- avatar --------
  document.addEventListener('DOMContentLoaded', function() {
  const avatarInput = document.getElementById('avatar');
  const avatarPreview = document.getElementById('avatar-preview');

  avatarInput.addEventListener('change', function(event) {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = function(event) {
      const imageUrl = event.target.result;
      avatarPreview.style.backgroundImage = `url('${imageUrl}')`;
      avatarPreview.textContent = ''; // Clear the text
    }

    reader.readAsDataURL(file);
  });
});
</script>
