<div class="body-login">
  <div class="container-myprofile">
  <div class="myprofile">
    <h2>My Profile</h2>
  </div>
    <section class="profile-details">
      <!-- Avatar -->
        <div class="avatar-container">
        <!-- Display user's avatar -->
          <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), class:"avatar-preview" %>
          <% else %>
          <%= image_tag "objects/unknow card.png", alt:'Profile Picture' , class:"avatar-preview" %>
          <% end %>
        </div>

      <div class="profile-box">
        <div class="profile-info">
          <table>
            <tr>
              <td class="profile-label">Nickname:</td>
              <td class="profile-value"><%= @user.nickname %></td>
            </tr>
            <tr>
              <td class="profile-label">Birthday:</td>
              <td class="profile-value"><%= @user.birthdate %></td>
            </tr>
            <tr>
              <td class="profile-label">Email:</td>
              <td class="profile-value"><%= @user.email %></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="form-actions">
        <%= link_to "Edit User", edit_user_registration_path, class: "btn-edit" %>
      </div>

      <div class="additional-links">
        <%= link_to "Home Page", root_path %>
      </div>

    </section>
    <% console %>
  </div>
</div>
