<div class="display-cards-bg p-2 mb-0" style='max-height:500px;'>
  <div class="flip-container">
    <div class="flippers container">
      <% cards = Card.all %>
      <%= @test %>
      <% object = cards[0].object %>
      <!-- Card front -->
        <div class="display-cards-card container mt-4 " >
          <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="display-cards-pic">
                  <%= image_tag "objects/#{object.image_path}" %>
                </div>
                <p style="font-size: 18px; font-family: AKONY;"><%= object.name_en %></p>
                <div class="display-cards-info">
                  <div class="horizontal-line"></div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <p style="text-align: left;">Distance from Earth:</p>
                      <p>
                        <strong style="text-align: left;"><%= object.revolution %></strong>
                      /mm km
                      </p>
                    </div>
                    <div class="vertical-line"></div>
                    <div>
                      <p style="text-align: left;">Revolution:</p>
                      <p>
                        <strong style="text-align: left;"><%= object.revolution %></strong>
                      /earth years
                      </p>
                    </div>
                  </div>
                  <div class="horizontal-line"></div>
                  <p style="text-align: left; font-size: 14px;">Type of planet:
                    <strong style="font-size:18px;"><%= object.classification %></strong>
                  </p>
                  <p style="text-align: left; font-size: 14px;">Main moons:
                    <strong style="font-size:18px;"><%= object.classification %></strong>
                  </p>
                  <div class="horizontal-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
