<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "/assets/Logo/astro-card-white.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
          <li class="nav-item active">
              <%= link_to "Profile", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<div class="bottom-navbar">
  <div class="border">
    <button onclick="location.href='collect.html'"><i class="fa-solid fa-inbox"></i></button>
    <button onclick="location.href='gallery.html'"><i class="fas fa-home"></i></button>
    <button onclick="location.href='homepage.html'"><i class="fa-solid fa-certificate"></i></button>
    <button onclick="location.href='ranking.html'"><i class="fa-solid fa-meteor"></i></button>
  </div>
</div>
