<nav class="top-right" style="z-index:65656565;">
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'disc l1' do %>
      <div>Log out</div>
    <% end %>
    <%= link_to ranking_path, class: 'disc l2' do %>
      <div>Gallery Ranking</div>
    <% end %>
    <%= link_to usergalleries_path, class: 'disc l3' do %>
      <div>My Gallery</div>
    <% end %>
    <%= link_to usercards_path, class: 'disc l4' do %>
      <div>My Collection</div>
    <% end %>
    <%= link_to profile_path, class: 'disc l5' do %>
      <div>Profile</div>
    <% end %>
    <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key, class: 'disc l6 toggle' %>
    <% else %>
      <%= image_tag "objects/unknow card.png", alt:'Profile Picture', class: 'disc l6 toggle' %>
    <% end %>

  <% else %>
    <%= link_to "Start?", new_user_session_path, class: 'disc l6 gologin' %>
  <% end %>
</nav>

<script>
  toggle = document.querySelectorAll(".toggle")[0];
  nav = document.querySelectorAll("nav")[0];
  toggle_open_text = 'Menu';
  toggle_close_text = 'Close';

  toggle.addEventListener('click', function() {
    nav.classList.toggle('open');

    if (nav.classList.contains('open')) {
      toggle.innerHTML = toggle_close_text;
    } else {
      toggle.innerHTML = toggle_open_text;
    }
  }, false);

  document.addEventListener("DOMContentLoaded", function() {
    const menu = document.getElementById("menu");
    const openMenu = document.getElementById("open-menu");
    const closeMenu = menu.querySelector(".menu-button.icon-minus");

    openMenu.addEventListener("click", function() {
        menu.classList.add("open");
    });

    closeMenu.addEventListener("click", function() {
        menu.classList.remove("open");
    });
});
</script>
