<div class="display-cards-bg-bc">
  <%= render "shared/newnavbar" %>
  <%= render "shared/logo" %>
  <div class="flip-container">
    <div class="flipper">
      <% card = Card.find(@card.card_id) %>
      <% object = card.object %>
      <!-- Card front -->
      <div class="flip-bcard-front">
        <div class="display-cards-card-bc container">
          <div class="row">
              <p class="display-bonuscards-title bonus-card-title">
                <i class="fas fa-star bonus-card-title"></i><span class="bonus-card-name"><%= object.name_en %></span><i class="fas fa-star bonus-card-title"></i>
              </p>
              <%# <div class="col-md-6 d-flex align-items-center justify-content-center"> %>
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="display-cards-pic">
                    <%= image_tag "objects/#{object.image_path}" %>
                  </div>
                  <div class="display-bcards-info">
                    <div class="horizontal-line"></div>
                    <div class="bonus-front-content">
                      <div>
                        <p style="text-align: left; font-size: 14px; font-family: AKONY;">Family Members</p>
                        <% @cards_in_bonus.each do |id| %>
                          <% card = Card.find(id) %>
                          <% objectolivier = card.object %>
                          <div class="family-member">
                              <div><%= image_tag "objects/#{objectolivier.image_path}"%></div>
                              <div><span class="object-name"><%= objectolivier.name_en.capitalize %></span></div>
                              <div class="object-type"><%= "(#{card.object_type})" %></div>
                          </div>
                        <% end %>
                      </div>
                      <div class="horizontal-line"></div>
                      <div style="text-align: left; font-size: 14px;">
                        <p>Moon Count:<%= object.moon_count %></p>
                        <p>First Discoveries:</p>
                        <p><%= object.first_discoveries %></P>
                        <p>Featured Moons:</p>
                        <p><%= object.featured_moons %></p>
                      </div>
                    </div>
                    <div class="horizontal-line"></div>
                  </div>
                  <div class="display-cards-buttons">
                    <div>
                      <button class="btn flip-button" data-controller="flipcard" data-action="click->flipcard#flip">
                        <i class="fas fa-sync-alt"></i> Flip card
                      </button>
                    </div>
                    <div>
                      <%= simple_form_for(@card, url: usergallery_usergallerycards_path(@usergallery), method: 'POST') do |f| %>
                        <%= f.input :id, as: :hidden %>
                        <%= f.submit "+ Add to gallery", class: 'mb-3 btn' %>
                      <% end %>
                    </div>
                  </div>
                </div>
            <%# </div> %>
          </div>
        </div>
      </div>

      <!-- Card back -->
      <div class="flip-bcard-back">
        <div class="display-cards-card-bc container">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <p class="display-bonuscards-title"><%= object.name_en %></p>
            </div>
            <div class="display-cards-info">
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex justify-content-between">
                  <div class="display-cards-pic-back">
                    <%= image_tag "objects/#{object.image_path}" %>
                  </div>
                  <div class="vertical-line"></div>
                  <div style="width: 50%;">
                    <p style="text-align: center; font-size: 14px;">Average Distance to Earth:
                    <p>
                    <strong style="font-size:18px; font-family: AKONY;">~0.38</strong>
                    </p>
                    <p>/mm km</p>
                  </div>
                </div>
              </div>
              <div class="horizontal-line"></div>
              <div class="object-content">
                <p style="text-align: left; font: bold;">Funfact</p>
                <p style="text-align: left;"><%= object.funfact %></p>
                <div class="horizontal-line"></div>
                <p style="text-align: left;">Description</p>
                <p style="text-align: left;"><%= object.summary %></p>
              </div>
              <div class="horizontal-line"></div>
              <div class="display-cards-buttons d-flex justify-content-between">
                <div>
                  <button class="btn flip-button" data-controller="flipcard" data-action="click->flipcard#flip">
                    <i class="fas fa-sync-alt"></i> Flip card
                  </button>
                </div>
                <div>
                  <%= simple_form_for(@card, url: usergallery_usergallerycards_path(@usergallery), method: 'POST') do |f| %>
                    <%= f.input :id, as: :hidden %>
                    <%= f.submit "+ Add to gallery", class: 'mb-3 btn' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
