<div class="display-cards-bg">
  <%= render "shared/navbar" %>
  <div class="flip-container">
    <div class="flipper">
      <% card = Card.find(@card.card_id) %>
      <% object = card.object %>
      <!-- Card front -->
      <div class="flip-card-front">
        <div class="display-cards-card container">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <p class="display-cards-title">Card of today</p>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="display-cards-pic">
                  <%= image_tag "objects/#{object.image_path}" %>
                </div>
                <p style="font-size: 18px; font-family: AKONY;"><%= object.name_en %></p>
                <div class="display-cards-info">
                  <div class="horizontal-line"></div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <p style="text-align: left;">Distance from Earth:</p>
                      <p>
                        <strong style="text-align: left;"><%= object.revolution %></strong>
                      /mm km
                      </p>
                    </div>
                    <div class="vertical-line"></div>
                    <div>
                      <p style="text-align: left;">Revolution:</p>
                      <p>
                        <strong style="text-align: left;"><%= object.revolution %></strong>
                      /earth years
                      </p>
                    </div>
                  </div>
                  <div class="horizontal-line"></div>
                  <p style="text-align: left; font-size: 14px;">Type of planet:
                    <strong style="font-size:18px;"><%= object.classification %></strong>
                  </p>
                  <p style="text-align: left; font-size: 14px;">Main moons:
                    <strong style="font-size:18px;"><%= object.classification %></strong>
                  </p>
                  <div class="horizontal-line"></div>
                  <div class="display-cards-buttons d-flex justify-content-between">
                    <button class="btn flip-card-button">
                      <i class="fas fa-sync-alt"></i> Flip card
                    </button>
                    <%= simple_form_for(@card, url: usergallery_usergallerycards_path(@usergallery), method: 'POST') do |f| %>
                      <%= f.input :id, as: :hidden %>
                      <%= f.submit "+ Add to gallery", class: 'btn' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card back -->
      <div class="flip-card-back">
        <div class="display-cards-card container">
          <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <p class="display-cards-title"><%= object.name_en %> Information</p>
            </div>
            <div class="display-cards-info">
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="d-flex justify-content-between">
                  <div class="display-cards-pic-back">
                    <%= image_tag "objects/#{object.image_path}" %>
                  </div>
                  <div class="vertical-line"></div>
                  <div>
                    <p>Distance from Earth:</p>
                    <p>
                      <strong style="text-align: left;"><%= object.revolution %></strong>
                      /mm km
                    </p>
                  </div>
                </div>
              </div>
              <div class="horizontal-line"></div>
              <div class="d-flex justify-content-between">
                <div>
                  <p>Distance from Earth:</p>
                  <p>
                  <strong>628 million km</strong>
                  </p>
                  <p>Type of planet:</p>
                  <p>
                    <strong style="font-size:18px;"><%= object.classification %></strong>
                  </p>
                </div>
                <div class="vertical-line"></div>
                <div>
                  <p>Revolution:</p>
                  <p>
                    <strong style="text-align: left;"><%= object.revolution %></strong>
                    /earth years
                  </p>
                </div>
              </div>
              <div class="horizontal-line"></div>
              <p style="text-align: left;">Description:</p>
              <p style="text-align: left;"><%= object.summary %></p>
              <div class="horizontal-line"></div>
              <div class="display-cards-buttons d-flex justify-content-between">
                <button class="btn flip-card-button">
                  <i class="fas fa-sync-alt"></i> Flip card
                </button>
                <button class="btn">
                  <i class="fas fa-plus"></i> Add to gallery
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// // Trigger flip effect when the flip-card-button is clicked
// $('.flip-card-button').on('click', function() {
//   // Find the parent flip-container
//   var flipContainer = $(this).closest('.flip-container');
//   // Toggle the .flipped class
//   flipContainer.find('.flipper').toggleClass('flipped');
// });

// // Trigger flip effect when clicking on the flip-card-back
// $('.flip-card-back').on('click', function() {
//   // Find the parent flip-container
//   var flipContainer = $(this).closest('.flip-container');
//   // If the flipper is flipped (back side is showing), flip it back to the front
//   if (flipContainer.find('.flipper').hasClass('flipped')) {
//     flipContainer.find('.flipper').removeClass('flipped');
//   }
// });

// // Prevent flip effect when hovering over the flip-container
// $('.flip-container').on('mouseenter mouseleave', function(e) {
//   if (!$(this).find('.flipper').hasClass('flipped')) {
//     $(this).toggleClass('hover', e.type === 'mouseenter');
//   }
// });
// Trigger flip effect when the flip-card-button is clicked
document.querySelectorAll('.flip-card-button').forEach(function(button) {
  button.addEventListener('click', function() {
    // Find the parent flip-container
    var flipContainer = this.closest('.flip-container');
    // Toggle the .flipped class
    flipContainer.querySelector('.flipper').classList.toggle('flipped');
  });
});

// Trigger flip effect when clicking on the flip-card-back
  document.querySelectorAll('.flip-card-back').forEach(function(back) {
    back.addEventListener('click', function() {
      // Find the parent flip-container
      var flipContainer = this.closest('.flip-container');
      // If the flipper is flipped (back side is showing), flip it back to the front
      if (flipContainer.querySelector('.flipper').classList.contains('flipped')) {
        flipContainer.querySelector('.flipper').classList.remove('flipped');
      }
    });
  });

  // Prevent flip effect when hovering over the flip-container
  document.querySelectorAll('.flip-container').forEach(function(container) {
    container.addEventListener('mouseenter', function() {
      if (!this.querySelector('.flipper').classList.contains('flipped')) {
        this.classList.add('hover');
      }
    });

    container.addEventListener('mouseleave', function() {
      if (!this.querySelector('.flipper').classList.contains('flipped')) {
        this.classList.remove('hover');
      }
    });
  });

</script>
