<div class="collection-bg">
  <%= render "shared/newnavbar" %>
  <div class="container collection">
    <%= render "shared/logo" %>
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="summary-title">
          Total Cards
        </div>
        <div class="content">
          <% nbusercard = Usercard.where(user: current_user).count %>
          <%= nbusercard %>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="summary-title border-left">
            Missed Cards
        </div>
        <div class="content border-left">
          <%= @missingcards.count %>
        </div>
      </div>
    </div>
    <div class="collection-listing">
      <p class="section-title">My Collection</p>
      <div class="listing-cards">
        <% @usercards.each do |usercard| %>
          <% card = Card.find(usercard.card_id) %>
          <% object = card.object %>
          <% if card.object_type == 'Special' %>
            <%# bonus card %>
            <%= link_to usercards_bonus_path(usercard.id) do %>
              <div class="l-card special-border">
                <%= image_tag "objects/#{object.image_path}" %>

                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <span class="funfact" data-controller="truncate" data-truncate-target="fun"><%= object.funfact %></span>

                </div>

              </div>
              </div>
            <% end %>
          <% else %>
            <%# regular card %>
            <%= link_to usercards_detail_path(usercard.id) do %>
              <div class="l-card">
                <%= image_tag "objects/#{object.image_path}" %>
                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <span class="funfact" data-controller="truncate" data-truncate-target="fun"><%= object.funfact %></span>
                </div>

              </div>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>
      </div>
      <% if @missingcards.count != 0 %>
        <div class="collection-missing">
          <p class="section-title">Unknown cards</p>
          <div class="missing-cards">
            <% @missingcards.each do |missing| %>
              <% object = missing.object %>
              <div class="m-card">
                <div>
                  <%= image_tag asset_path('objects/unknow card.png') %>
                </div>
                <div class="subtitle-missing">
                  <%= object.name_en %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
