<div class="collection-bg">
  <%= render "shared/newnavbar" %>
  <div class="container collection">
    <%= render "shared/logo" %>
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="summary-title">
          Total Cards
        </div>
        <div class="content">
          <% nbusercard = Usercard.where(user: current_user).count %>
          <%= nbusercard %>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="summary-title border-left">
            Missed Cards
        </div>
        <div class="content border-left">
          <%= (Card.count - nbusercard ) %>
        </div>
      </div>
    </div>
    <div class="collection-listing">
      <p class="collection-title">Cards I have</p>
      <div class="listing-cards">
        <% @usercards.each do |usercard| %>
          <% card = Card.find(usercard.card_id) %>
          <% object = card.object %>
          <% if card.object_type == 'Special' %>
            <%# bonus card %>
            <%= link_to usercards_bonus_path(usercard.id) do %>
              <div class="l-card special-border">
                <%= image_tag "objects/#{object.image_path}" %>

                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <span class="funfact"><%= object.funfact %></span>

                </div>

              </div>
              </div>
            <% end %>
          <% else %>
            <%# regular card %>
            <%= link_to usercards_detail_path(usercard.id) do %>
              <div class="l-card">
                <%= image_tag "objects/#{object.image_path}" %>
                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <span class="funfact"><%= object.funfact %></span>
                </div>

              </div>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>
      </div>
      <div class="collection-missing">
        <p>Unknow cards</p>
        <div class="missing-cards">
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  var funfactElements = document.querySelectorAll('.funfact');
  funfactElements.forEach(function(element) {
    truncateFunfact(element);
  });
});

function truncateFunfact(element) {
  var text = element.textContent;
  var words = text.split(' ');
  if (words.length > 25) {
    var truncatedText = words.slice(0, 25).join(' ');
    element.textContent = truncatedText + '...';
    var seeMoreLink = document.createElement('a');
    seeMoreLink.textContent = '[See more]';
    seeMoreLink.href = '#'; // You can set the link destination if needed
    // seeMoreLink.onclick = function() {
    //   element.textContent = text;
    //   this.remove(); // Remove the "See more" link after expanding
    //   return false; // Prevent default link behavior
    // };
    element.insertAdjacentElement('afterend', seeMoreLink);
  }
}
</script>
