<div class="collection-bg">
  <%= render "shared/navbar" %>
  <div class="container collection">
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="title">
          <h6>Cards</h6>
        </div>
        <div class="content">
          <p>101</p>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="title border-left">
            <h6>Missing</h6>
          </div>
          <div class="content border-left">
            <p>202</p>
          </div>
      </div>
    </div>
    <div class="collection-listing">
      <p>Title</p>
      <div class="listing-cards">
        <div class="l-card">
          <%= image_tag asset_path('objects/astro card-P 0403-08.png') %>
          <div class="l-card-content">
            <div class="title">
              <div><strong>Jupiter</strong></div>
              <div>Planet</div>
            </div>
            <div class="infos">
              Hello from Jupiter
            </div>
          </div>
        </div>
        <div class="l-card">

        </div>
      </div>
    </div>
    <div class="collection-missing">
      <p>Missing cards</p>
      <div class="missing-cards">
        <div class="m-card">
          <%= image_tag asset_path('objects/unknow card.png') %>
        </div>
        <div class="m-card">
          <%= image_tag asset_path('objects/unknow card.png') %>
        </div>
        <div class="m-card">
          <%= image_tag asset_path('objects/unknow card.png') %>
        </div>
        <div class="m-card">
          <%= image_tag asset_path('objects/unknow card.png') %>
        </div>
      </div>
    </div>
  </div>
</div>
