<div class="collection-bg">
  <%= render "shared/newnavbar" %>
  <div class="container collection">
    <%= render "shared/logo" %>
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="summary-title">
          Cards
        </div>
        <div class="content">
          <% nbusercard = Usercard.where(user: current_user).count %>
          <%= nbusercard %>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="summary-title border-left">
            Missing
        </div>
        <div class="content border-left">
          <%= (Card.count - nbusercard ) %>
        </div>
      </div>
    </div>
    <div class="collection-listing">
      <p class="collection-title">My Collection</p>
      <div class="listing-cards">
        <% @usercards.each do |usercard| %>
          <% card = Card.find(usercard.card_id) %>
          <% object = card.object %>
          <% if card.object_type == 'Special' %>
            <%# bonus card %>
            <%= link_to usercards_bonus_path(usercard.id) do %>
              <div class="l-card special-border">
                <%= image_tag "objects/#{object.image_path}" %>

                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <%= object.summary %>
                </div>
              </div>
              </div>
            <% end %>
          <% else %>
            <%# regular card %>
            <%= link_to usercards_detail_path(usercard.id) do %>
              <div class="l-card">
                <%= image_tag "objects/#{object.image_path}" %>
                <div class="l-card-content">
                <div class="title">
                  <div><strong><%= object.name_en %></strong></div>
                  <div><%= card.object_type %></div>
                </div>
                <div class="infos">
                  <%= object.funfact %>
                </div>
              </div>
              </div>
            <% end %>
          <% end %>

        <% end %>
      </div>
      </div>
      <div class="collection-missing">
        <p>Missing cards</p>
        <div class="missing-cards">
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
          <div class="m-card">
            <%= image_tag asset_path('objects/unknow card.png') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
