<div class="ranking-bg">
  <%= render "shared/newnavbar" %>
  <div class="container ranking">
    <%= render "shared/logo" %>
    <div class="collection-summary">
      <div class="collection-summary-block">
        <div class="summary-title">
          My ranking this week
        </div>
        <div class="content">
          <%= @ranking %>
        </div>
      </div>
      <div class="collection-summary-block">
        <div class="summary-title border-left">
            Best ranked
        </div>
        <div class="content border-left">
          <%= @bestrank %>
        </div>
      </div>
    </div>
    <div class="ranking-listing">
      <p class="ranking-title section-title">Best galleries of the week</p>
      <div class="ranking-cards">
        <% @galleries.each_with_index do |gallery,index| %>
          <% usergallery = User.find(gallery.user_id) %>
          <%= link_to usergallery_path(gallery.id) do %>
            <div class="r-card">
              <div class="r-card-rank">
                <%= index+1 %>
              </div>
              <div class="r-card-avatar">
                <% if usergallery.avatar.attached? %>
                  <%= cl_image_tag usergallery.avatar.key %>
                <% else %>
                  <%= image_tag "objects/unknow card.png", alt:'Profile Picture' %>
                <% end %>
              </div>
              <div class="r-card-content">
                <div class="r-card-content-title">
                  <div class="title">
                    <%= usergallery.nickname %>
                  </div>
                  <div>
                    <span class="other"><%= gallery.usergallerycards.count %><i class="fa-solid fa-earth-americas ps-1 pe-2"></i></span>
                  </div>
                </div>
                <div class="r-card-content-objects">
                  <% gallery.usergallerycards.each do |gallerycard| %>
                    <% usercard = Usercard.find(gallerycard.usercard_id) %>
                    <% card = Card.find(usercard.card_id) %>
                    <% object = card.object %>
                    <%= image_tag "objects/#{object.image_path}" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
