<div class="gallery-bg">
  <%= render "shared/newnavbar" %>
  <div class=" container gallery">
    <%= render "shared/logo" %>
    <div>
      <% if @userstatus %>
        <p class="section-title">My Personal Gallery</p>
      <% else %>
        <p class="section-title"><%= "#{@gallery.user.nickname}'s gallery" %></p>
      <% end %>
    </div>
    <% if @userstatus %>
      <div class="ps-5">
        <div class="form-check fs-5 form-switch" data-controller="sharedgallery" data-sharedgallery-gid-value=<%=@gallery.id%>>
          <% if @gallery.shared %>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-sharedgallery-target="gallerycheckbox" data-action="change->sharedgallery#updatesharing" checked>
          <% else %>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-sharedgallery-target="gallerycheckbox" data-action="change->sharedgallery#updatesharing">
          <% end %>
          <label class="form-check-label section-option" for="flexSwitchCheckDefault">Share in public</label>
        </div>
      </div>
    <% end %>
    <div class="gallery-cards">
      <div class="content">
        <% @cards_in_gallery.each do |gallerycard| %>
          <% usercard = Usercard.find(gallerycard.usercard_id) %>
          <% usersupport = Usersupport.where(usergallerycard_id: gallerycard.id) %>
          <% card = Card.find(usercard.card_id) %>
          <% object = card.object %>
            <% if usersupport.empty? %>
            <div class="g-card" id='o<%=gallerycard.id%>' data-controller="galleryitem" data-action="click->galleryitem#fire" data-galleryitem-target="selectedelement" data-galleryitem-userstatus-value=<%=@userstatus%>>
            <% else %>
            <% support = Gallerysupport.find(usersupport[0].gallerysupport_id) %>
            <div class="g-card" id='o<%=gallerycard.id%>' style='background-image: url(<%= image_path "#{support.image_path}"%>);' data-controller="galleryitem" data-action="click->galleryitem#fire" data-galleryitem-target="selectedelement" data-galleryitem-userstatus-value=<%=@userstatus%>>
            <% end %>
              <%= image_tag "objects/#{object.image_path}" %>
            </div>
        <% end %>
      </div>
    </div>
    <% if @userstatus %>
      <div class="gallery-supports">
        <div class="btn-group dropup custom-dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Supports</button>
            <ul class="dropdown-menu">
                <% @supports.each_with_index do |support, i| %>
                <li class="support-list" data-controller="gallery" id='s<%= support.id %>' data-action="click->gallery#changebg" data-imagepath=<%= image_path "#{support.image_path}"%> data-gallery-target="selectedSupport">
                    <div>
                        <%= image_tag "#{support.image_path}" %>
                    </div>
                    <div>
                        <%= support.name %>
                    </div>
                </li>
                <% end %>
            </ul>
        </div>
        <div>
          <div id="btn-delete" class="btn-group dropup custom-dropdown custom-delete d-none">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Delete</button>
            <ul class="dropdown-menu">
                <li class="support-list support-list-delete title" data-controller="gallerydelete" data-action="click->gallerydelete#deleteobj" data-gallerydelete-target="selectedopt" data-gallerydelete-opt-value="object">Object</li>
                <li class="support-list support-list-delete title" data-controller="gallerydelete" data-action="click->gallerydelete#deleteobj" data-gallerydelete-target="selectedopt" data-gallerydelete-opt-value="support">Support</li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
