<div class="gallery-bg">
  <%= render "shared/newnavbar" %>
  <div class=" container gallery">
    <%= render "shared/logo" %>
    <div class="title">
      My Personal Gallery
    </div>
    <div class="form-check form-switch ms-4" data-controller="sharedgallery" data-sharedgallery-gid-value=<%=@gallery.id%>>
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-sharedgallery-target="gallerycheckbox" data-action="change->sharedgallery#updatesharing">
      <label class="form-check-label" for="flexSwitchCheckDefault">Share in public</label>
    </div>
    <div class="gallery-cards">
      <div class="content">
        <% @cards_in_gallery.each do |gallerycard| %>
          <% usercard = Usercard.find(gallerycard.usercard_id) %>
          <% usersupport = Usersupport.where(usergallerycard_id: gallerycard.id) %>
          <% card = Card.find(usercard.card_id) %>
          <% object = card.object %>
            <% if usersupport.empty? %>
            <div class="g-card" id='o<%=gallerycard.id%>' data-controller="galleryitem" data-action="click->galleryitem#fire" data-galleryitem-target="selectedelement">
            <% else %>
            <% support = Gallerysupport.find(usersupport[0].gallerysupport_id) %>
            <div class="g-card" id='o<%=gallerycard.id%>' style='background-image: url(<%= image_path "#{support.image_path}"%>);' data-controller="galleryitem" data-action="click->galleryitem#fire" data-galleryitem-target="selectedelement">
            <% end %>
              <%= image_tag "objects/#{object.image_path}" %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="gallery-supports">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Supports</button>
        <ul class="dropdown-menu">
          <% @supports.each_with_index do |support,i| %>
            <li class="support-list" data-controller="gallery" id='s<%=support.id%>' data-action="click->gallery#changebg" data-imagepath=<%= image_path "#{support.image_path}"%> data-gallery-target="selectedSupport">
              <div>
                <%= image_tag "#{support.image_path}" %>
              </div>
              <div>
                <%= support.name %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
